services:
  nginx:
    build:
      context: .
      dockerfile: ./runtimes/nginx_phpfpm/nginx/nginx.Dockerfile
    image: runtime_nginx
    container_name: "nginx"
    hostname: symfony7site
    ports:
      - '8001:80'
    networks:
      - diploma-project
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '1'
          memory: '1gb'

  phpfpm:
    build:
      context: .
      dockerfile: ./runtimes/nginx_phpfpm/phpfpm/phpfpm.Dockerfile
    image: runtime_phpfpm
    container_name: "phpfpm"
    ports:
      - "9001:9001"
    networks:
      - diploma-project
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '1'
          memory: '1gb'

  openswoole:
    build:
      context: .
      dockerfile: ./runtimes/openswoole/openswoole.Dockerfile
    image: diploma_openswoole
    container_name: "diploma_openswoole"
    ports:
      - "8002:80"
    networks:
      - diploma-project
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '1'
          memory: '1gb'

  swoole:
    build:
      context: .
      dockerfile: runtimes/swoole/swoole.Dockerfile
    image: diploma_swoole
    container_name: "diploma_swoole"
    ports:
      - "8003:80"
    networks:
      - diploma-project
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '1'
          memory: '1gb'

  frankenphp:
    build:
      context: .
      dockerfile: "./runtimes/frankenphp/frankenphp.Dockerfile"
    image: "diploma_frankenphp"
    container_name: "diploma_frankenphp"
    networks:
      - diploma-project
    ports:
      - '8004:80'
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: '1gb'
        reservations:
          cpus: '1'
          memory: '1gb'

networks:
  diploma-project:
    name: diploma-project
